<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Arun Test">
  <test thread-count="5" name="Test">
    <classes>
      <class name="test.Landing_Test"/>
      <class name="test.Login_Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Arun Test -->
